body,html{
    padding:0;margin:0;
    background: #ddd;
    font-size: 0.22rem;
    color: #666;
}
a{
    text-decoration: none;
    color: #fff;
}
*{
    padding: 0;margin: 0;
    list-style: none;
}
header{
    width: 100%;
    height:0.9rem;
    background: #111;
    padding:0.1rem;
    box-sizing: border-box;
    color: #fff;
}
header .iconfont{
    margin-top: 0.05rem;
    float: left;
    color: #fff;
    font-size: 0.5rem;
}

header .txt{
    width:6.2rem;
    text-align: center;
    height:100%;
    float: left;
}
.sence{
    width: 6rem;
    height:5rem;
    margin:0 auto;
    margin-top: 0.8rem;
    /*perspective:800px;*/
}
.box{
    width: 100%;
    height:100%;
    transform-style: preserve-3d;
    transition: transform 0.5s linear 2.5s;
    transform-origin: center center -3rem;
    position: relative;
}
.panel{
    position: absolute;
    top:0;left:0;
    width: 100%;
    height:100%;

}
.panel:nth-child(1){
    background:url(../img/1.jpg) no-repeat;
    background-size: cover;
    transform-origin: left;
    transform: rotateY(90deg);
}
.panel:nth-child(2){
    background:url(../img/2.jpg) no-repeat;
    background-size: cover;
    transform-origin: right;
    transform: rotateY(-90deg);
}
.panel:nth-child(3){
    background:url(../img/3.jpg) no-repeat;
    background-size: cover;
}
.panel:nth-child(4){
    background:url(../img/4.jpg) no-repeat;
    background-size: cover;
    transform: translateZ(-6rem);
}
.lyric{
    text-align: center;
    line-height: 0.8rem;
    color: #666;
    font-size: 0.5rem;
    margin-top: 0.5rem;
}
.btn{
    width:3.9rem;
    margin: 0 auto;
}
.btn .iconfont{
    font-size: 0.8rem;
    color: #FDB814;
    margin: 0 0.1rem;
}
.btn .icon-play{
    font-size: 1.4rem;
    font-weight: 200;
}
.bottom{
    width: 100%;
    height:1rem;
    background: #111;
    position: fixed;
    bottom:0;
}
.bottom .iconfont{
    width: 25%;
    text-align: center;
    color: #fff;
    line-height: 1rem;
    font-size: 0.4rem;
    float: left;
}