body,html{
    padding:0;margin:0;
    background: #ddd;
    font-size: 0.22rem;
    color: #666;
}
a{
    text-decoration: none;
    color: #fff;
}
*{
    padding: 0;margin: 0;
    list-style: none;
}
header{
    width: 100%;
    height:0.9rem;
    background: #111;
    padding:0.1rem;
    box-sizing: border-box;
    color: #fff;
}
header .iconfont{
    margin-top: 0.05rem;
    float: left;
    font-size: 0.5rem;
}
header .txt{
    width:6.2rem;
    text-align: center;
    height:100%;
    float: left;
}
.body{
    width: 100%;
    height:13.6rem;
    position: fixed;
    top:0.9rem;
    left:0;
}
.body .imgbox{
    width: 100%;
    height:100%;
    position: relative;
    background: rgba(0,0,0,0.5);
}
.body .mask{
    width: 100%;
    height:100%;
    position: fixed;
    left: 0;top:0.9rem;
    z-index: 10;
    background: rgba(0,0,0,0.5);
}
.body .img{
    width: 100%;
    height:100%;
    position:fixed;
    left: 0;top:0.9rem;
    opacity: 0;
}
.body .img:nth-child(1){
    background: url("../img/1.jpg") no-repeat center;
    background-size: cover;
    opacity: 1;
}
.body .img:nth-child(2){
    background: url("../img/2.jpg") no-repeat center;
    background-size: cover;
}
.body .img:nth-child(3){
    background: url("../img/3.jpg") no-repeat center;
    background-size: cover;
}
.body .img:nth-child(4){
    background: url("../img/4.jpg") no-repeat right;
    background-size: cover;
}
.lybox{
    width: 100%;
    height:8rem;
    overflow: scroll;
    position: absolute;
    top:0.9rem;
    left:0;
    z-index: 20;
}
.lyric{
    width: 100%;
    text-align: center;
    /*padding: 0.05rem;*/
    color: #ccc;
    line-height: 1rem;
    font-size: 0.5rem;
    position: absolute;
    top:0;
    left:0;
}
.lyric p:nth-child(3){
    color: #FDB814;
}
.lyric p:nth-child(4){
    color: #FDB814;
}
.btn{
    z-index: 20;
    width:4.3rem;
    position: absolute;
    top:9.3rem;left:0;right:0;
    margin: 0 auto;
}
.btn .iconfont{
    font-size: 0.8rem;
    color: #FDB814;
    margin: 0 0.1rem;
}
.btn .icon-play{
    font-size: 1.4rem;
    font-weight: 200;
}
.bottom{
    width: 100%;
    height:1rem;
    background: #111;
    position: fixed;
    bottom:0;
}
.bottom .iconfont{
    width: 25%;
    text-align: center;
    color: #fff;
    line-height: 1rem;
    font-size: 0.4rem;
    float: left;
}